@import url('https://fonts.google.com/share?selection.family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000');

.page {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.first-img {
    background-image: url(./images/Rectangle\ 1.jpg);
    width: 100%;
    height: 985px;
    background-size: cover;
}

.header {
    width: 60%;
    height: 72px;
    padding-top: 16px;
    gap: 212px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.header__menu {
    display: none;
}


.header_logo {
    max-width: 137px;
    max-height: 72px;
}

.header__nav {
    gap: 24px;
    margin-top: 14px;
    margin-bottom: 14px;
    align-items: center
}

.header__nav-button {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.012em;
    text-align: left;
    color: rgba(253, 253, 253, 1);
    background: rgba(26, 62, 62, 1);
    width: 157px;
    height: 44px;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-left: 25px;
}

.nav_text {
    text-decoration: none;
    color: #FDFDFD;
    border: none;
    padding: 0;
    background: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.55px;
    text-align: left;
    max-width: 141px;
    height: 25px;
    opacity: 0px;
    cursor: pointer;
}

.first-img_title {
    font-family: 'NEXT ART', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FDFDFD;
    margin-bottom: 0;
    margin-top: 463px;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.program_search {
    width: 1137px;
    height: 121px;
    gap: 24px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    padding-top: 40px;
    padding-left: 43px;
    backdrop-filter: blur(2px);
    display: flex;
    flex-wrap: wrap;
}

.program_search-text {
    width: 210px;
    padding: 14px 16px 14px 16px;
    gap: 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin: 0;
}

.subtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(253, 253, 253, 1);
    margin-bottom: 0;
    margin-top: 8px;
    width: 254px;
    height: 21px;
}

.location-button {
    background-image: url(./images/ep_arrow-down.svg);
}

.hike-button {
    background-image: url(./images/formkit_date.svg);
}

.participants-button {
    background-image: url(./images/ep_arrow-down.svg);
}

.program_search-button {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    ;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.program_search-container {
    border-radius: 8px;
    width: 305px;
    display: flex;
    border: 1px solid rgba(225, 227, 228, 1);
    background: transparent;
    color: rgba(253, 253, 253, 1);
    width: 270px;
    height: 52px;
    align-items: center;
    box-shadow: 0px 4px 20px 0px #282828;
}

.program_search-find {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.012em;
    text-align: left;
    color: rgba(26, 62, 62, 1);
    width: 213px;
    height: 54px;
    text-align: center;
    gap: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.about-tour_container {
    width: 1180px;
    height: 526px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    position: relative;
    justify-content: space-between
}

.about-tour__img {
    border-radius: 24px;
    width: 350px;
    height: 400px;
}

.about-tour__img-left {
    position: absolute;
}

.about-tour__img-right {
    top: 126px;
    left: 130px;
    position: absolute;
}

.play {
    z-index: 3;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    opacity: 0px;
    margin-top: 301px;
    margin-left: 280px;
    cursor: pointer;
}

.about-tour_container-text {
    margin-left: 250px;
    width: 580px;
    height: 398px;
    /* gap: 40px; */
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.about-tour__text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(242, 190, 34, 1);
    margin: 0;
    margin-bottom: 8px;
}

.about-tour__title {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: left;
    color: rgba(24, 18, 30, 1);
    margin-bottom: 40px;
}

.about-tour__subtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: rgba(24, 18, 30, 1);
    margin: 0;
    margin-bottom: 40px;
}

.about-tour__button {
    width: 200px;
    height: 52px;
    gap: 10px;
    border-radius: 4px;
    background: rgba(26, 62, 62, 1);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.012em;
    text-align: left;
    color: rgba(253, 253, 253, 1);
    text-align: center;
    cursor: pointer;
    border: none;
}

@media screen and (min-width:320px) {
    .header {
        width: 96%;
        height: 44px;
    }

    .header__menu {
        background-image: url(./images/heroicons-solid_menu-alt-3.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        display: block;
    }

    .header_logo {
        max-width: 65px;
        min-height: 44px;

    }

    .header__nav {
        display: none;
    }

    .first-img {
        height: 600px;
    }

    .first-img_title {
        width: 83%;
        margin-top: 234px;
        margin-left: auto;
        margin-right: auto;
        font-size: 23px;
        font-weight: 700;
        line-height: 42px;
        text-align: center;

    }

    .program_search {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        padding: 0;
        width: 90%;
        height: 54px;
    }

    .program_search-wrapper {
        display: none;
    }

    .program_search-find {
        width: 100%;
    }

    .about-tour_container {
        width: 316px;
        height: 930px;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column-reverse;
        display: flex;
        justify-content: flex-end;
    }

    .about-tour_container-img {
        position: absolute;
    }

    .about-tour__img {
        border-radius: 24px;
        width: 315px;
        height: 360px;
    }

    .about-tour__img-left {
        display: none;
    }

    .about-tour__img-right {
        top: 505px;
        left: 0;
    }

    .play {
        width: 50px;
        z-index: 4;
        position: relative;
        height: 50px;
        /* margin-bottom: 0px; */
        margin-top: 660px;
        margin-left: 135px;
    }

    .about-tour_container-text {
        margin-left: 0;
        width: 100%;
        height: 480px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .about-tour__text {
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
        margin-bottom: 15px;
    }

    .about-tour__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        margin-bottom: 24px;
    }

    .about-tour__subtitle {
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 24px;
    }

    .about-tour__button {
        width: 100%;
        height: 50px;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.012em;
    }

    .best-programs {
        background: rgba(243, 245, 244, 1);
        width: 100%;
        height: 840px;
    }

    .best-programs__text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: rgba(242, 190, 34, 1);
        margin: 0;
    }

    .best-programs__title {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 21px;
        font-weight: 800;
        line-height: 38.4px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin-bottom: 0;
        margin-top: 15px;
    }

    .best-programs_paragraph {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin-bottom: 0;
        margin-top: 20px;
    }

    .best-programs__wrapper {
        display: flex;
        gap: 15px;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .best-programs_container {
        width: 309px;
        height: 725px;
        padding-top: 45px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 35px;
        align-items: center;
    }

    .best-programs__list {
        padding: 0;
        margin: 0;
    }

    .best-programs__wrapper-img {
        width: 45px;
        height: 45px;
        border-radius: 4px;
        align-self: center;
        display: block;
    }

    .best-programs__wrapper-title {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.012em;
        text-align: left;
        margin: 0;
    }

    .best-programs__wrapper-text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        margin: 0;
    }

    .best-programs__list-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .best-programs__button {
        width: 100%;
        height: 52px;
        /* padding: 16px 36px 16px 36px; */
        border-radius: 4px;
        opacity: 0px;
        background: rgba(26, 62, 62, 1);
        margin-top: 40px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.012em;
        text-align: left;
        color: rgba(253, 253, 253, 1);
        text-align: center;
        cursor: pointer;
        border: none;
    }

    .best-programs__container_image {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: 220px 220px;
        grid-template-rows: 220px;
        width: 461px;
        height: 459px;
        display: none;
    }


    .best-programs__image {
        width: 220px;
        height: 220px;
        gap: 0px;
    }

    .best-programs__image-one,
    .best-programs__image-four {
        border-radius: 0 50px / 50px;
        background: rgba(243, 245, 244, 1);
    }

    .best-programs__image-two,
    .best-programs__image-three {
        border-radius: 50px 0 / 50px;
        background: rgba(243, 245, 244, 1);
    }

    .popular-destinations__text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: rgba(242, 190, 34, 1);
        margin: 0 0 10px 0;
    }

    .popular-destinations__title {
        margin: 0 0 32px 0;
    }

    .popular-destinations {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel-inner {
        position: absolute;
    }

    .d-block {
        width: 100%;
        height: 400px;
        border-radius: 32px;
    }

    .popular-destinations_wrapper {
        width: 285px;
    }

    .popular-destinations__rating-img {
        position: relative;
        width: 24px;
        height: 24px;
        top: 50px;
    }

}

@media screen and (min-width:780px) {
    .header {
        width: 93%;
        padding-right: 30px;
        padding-left: 30px;
    }

    .first-img {
        height: 900px;
    }

    .program_search {
        width: 36%;
        height: 410px;
        gap: 24px;
        gap: 24px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        margin-left: auto;
        margin-right: auto;
        margin-top: 41px;
        padding-top: 40px;
        padding-left: 43px;
        backdrop-filter: blur(2px);
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center
    }

    .program_search-find {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.012em;
        text-align: left;
        color: rgba(26, 62, 62, 1);
        width: 213px;
        height: 54px;
        text-align: center;
        gap: 10px;
        border-radius: 4px;
        border: none;
    }

    .program_search-wrapper {
        display: block;
    }

    .about-tour_container {
        width: 630px;
        height: 790px;
        margin-top: 65px;
        margin-bottom: 65px;
        flex-direction: column-reverse;
        display: flex;
        justify-content: flex-end;
    }

    .about-tour_container-img {
        position: absolute;
    }

    .about-tour__img {
        border-radius: 24px;
        width: 315px;
        height: 360px;
    }

    .about-tour__img-left {
        display: none;
    }

    .about-tour__img-right {
        top: 425px;
        left: 0;
    }

    .play {
        width: 50px;
        z-index: 4;
        position: relative;
        height: 50px;
        /* margin-bottom: 0px; */
        margin-top: 577px;
        margin-left: 135px;
    }

    .about-tour_container-text {
        margin-left: 0;
        width: 580px;
        height: 398px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .about-tour__text {
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
        margin-bottom: 15px;
    }

    .about-tour__title {
        font-size: 27px;
        font-weight: 700;
        line-height: 25.4px;
        margin-bottom: 40px;
    }

    .about-tour__subtitle {
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 40px;
    }

    .about-tour__button {
        width: 185px;
        height: 50px;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.012em;
    }

    .best-programs {
        background: rgba(243, 245, 244, 1);
        width: 100%;
        height: 770px;
    }

    .best-programs__text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: rgba(242, 190, 34, 1);
        margin: 0;
    }

    .best-programs__title {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 21px;
        font-weight: 800;
        line-height: 38.4px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin-bottom: 0;
        margin-top: 15px;
    }

    .best-programs_paragraph {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin-bottom: 0;
        margin-top: 20px;
    }

    .best-programs__wrapper {
        display: flex;
        gap: 15px;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .best-programs_container {
        width: 650px;
        height: 640px;
        padding-top: 80px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 35px;
        align-items: center;
    }

    .best-programs__list {
        padding: 0;
        margin: 0;
    }

    .best-programs__wrapper-img {
        width: 45px;
        height: 45px;
        border-radius: 4px;
        align-self: center;
        display: block;
    }

    .best-programs__wrapper-title {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.012em;
        text-align: left;
        margin: 0;
    }

    .best-programs__wrapper-text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        margin: 0;
    }

    .best-programs__list-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .best-programs__button {
        width: 100%;
        height: 52px;
        /* padding: 16px 36px 16px 36px; */
        border-radius: 4px;
        opacity: 0px;
        background: rgba(26, 62, 62, 1);
        margin-top: 40px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.012em;
        text-align: left;
        color: rgba(253, 253, 253, 1);
        text-align: center;
        cursor: pointer;
        border: none;
    }

    .best-programs__container_image {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: 220px 220px;
        grid-template-rows: 220px;
        width: 461px;
        height: 459px;
        display: none;
    }


    .best-programs__image {
        width: 220px;
        height: 220px;
        gap: 0px;
    }

    .best-programs__image-one,
    .best-programs__image-four {
        border-radius: 0 50px / 50px;
        background: rgba(243, 245, 244, 1);
    }

    .best-programs__image-two,
    .best-programs__image-three {
        border-radius: 50px 0 / 50px;
        background: rgba(243, 245, 244, 1);
    }
}

@media screen and (min-width:1025px) {
    .header {
        width: 95%;
        height: 64px;
        margin-left: auto;
        margin-right: auto;
        gap: 174px;
    }

    .header__menu {
        display: none;
    }

    .header_logo {
        max-width: 105px;
        max-height: 70px;
    }

    .nav_text {
        font-size: 15px;
    }

    .header__nav-button {
        margin-left: 10px;
        width: 140px;
        height: 40px;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        padding: 11px 15px 11px 15px;
    }

    .header__nav {
        gap: 20px;
        display: flex;
    }

    .first-img {
        height: 823px;
    }

    .first-img_title {
        width: 550px;
        margin-top: 298px;
        margin-left: auto;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        text-align: center;
    }

    .program_search {
        width: 87%;
        height: 166px;
        gap: 30px;
        row-gap: 33px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        margin-left: auto;
        margin-right: auto;
        margin-top: 41px;
        padding-top: 40px;
        backdrop-filter: blur(2px);
        display: flex;
        flex-wrap: wrap;
    }

    .program_search-container {
        width: 255px;
        height: 47px;
    }

    .program_search-text {
        width: 180px;
        padding: 14px 16px 14px 16px;
        gap: 8px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        margin: 0;
    }

    .about-tour_container {
        width: 975px;
        height: 526px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        position: relative;
        justify-content: space-between;
        flex-direction: row;
    }

    .about-tour__img {
        border-radius: 24px;
        width: 276px;
        height: 340px;
    }

    .about-tour__img-left {
        display: block;
        position: absolute;
    }

    .about-tour__img-right {
        top: 91px;
        left: 79px;
        position: absolute;
    }

    .play {
        z-index: 3;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        opacity: 0px;
        margin-top: 237px;
        margin-left: 195px;
        cursor: pointer;
    }

    .about-tour_container-text {
        margin-left: 438px;
        width: 580px;
        height: 398px;
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
    }

    .about-tour__text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: rgba(242, 190, 34, 1);
        margin: 0;
        margin-bottom: 8px;
    }

    .about-tour__title {
        margin: 0;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 30px;
        font-weight: 800;
        line-height: 38.4px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin-bottom: 40px;
    }

    .about-tour__subtitle {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin: 0;
        margin-bottom: 40px;
    }

    .about-tour__button {
        width: 200px;
        height: 52px;
        gap: 10px;
        border-radius: 4px;
        background: rgba(26, 62, 62, 1);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.012em;
        text-align: left;
        color: rgba(253, 253, 253, 1);
        text-align: center;
        cursor: pointer;
        border: none;
    }

    .best-programs {
        background: rgba(243, 245, 244, 1);
        width: 100%;
        height: 750px;
    }

    .best-programs__text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: rgba(242, 190, 34, 1);
        margin: 0;
    }

    .best-programs__title {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 26px;
        font-weight: 800;
        line-height: 38.4px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin-bottom: 0;
        margin-top: 15px;
    }

    .best-programs_paragraph {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin-bottom: 0;
        margin-top: 30px;
    }

    .best-programs__wrapper {
        display: flex;
        gap: 15px;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .best-programs_container {
        width: 930px;
        height: 643px;
        padding-top: 60px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 55px;
        align-items: center;
    }

    .best-programs__list {
        padding: 0;
        margin: 0;
    }

    .best-programs__wrapper-img {
        width: 45px;
        height: 45px;
        border-radius: 4px;
        align-self: center;
        display: block;
    }

    .best-programs__wrapper-title {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.012em;
        text-align: left;
        margin: 0;
    }

    .best-programs__wrapper-text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        margin: 0;
    }

    .best-programs__list-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .best-programs__button {
        width: 200px;
        height: 45px;
        /* padding: 16px 36px 16px 36px; */
        border-radius: 4px;
        opacity: 0px;
        background: rgba(26, 62, 62, 1);
        margin-top: 35px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.012em;
        text-align: left;
        color: rgba(253, 253, 253, 1);
        text-align: center;
        cursor: pointer;
        border: none;
    }

    .best-programs__container_image {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: 240px 240px;
        grid-template-rows: 240px;
        width: 505px;
        height: 512px;
    }


    .best-programs__image {
        width: 240px;
        height: 240px;
    }

    .best-programs__image-one,
    .best-programs__image-four {
        border-radius: 0 50px / 50px;
        background: rgba(243, 245, 244, 1);
        width: 240px;
        height: 240px;
    }

    .best-programs__image-two,
    .best-programs__image-three {
        border-radius: 50px 0 / 50px;
        background: rgba(243, 245, 244, 1);
    }
}

@media screen and (min-width:1235px) {
    .program_search {
        width: 90%;
        height: 90px;
    }
}

@media screen and (min-width:1280px) {

    .header {
        width: 77%;
    }

    .first-img_title {
        font-family: 'NEXT ART', sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 75px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #FDFDFD;
        margin-bottom: 0;
        margin-top: 463px;
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .first-img {
        height: 985px;

    }

    .program_search {
        width: 1137px;
        height: 121px;
        gap: 24px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        margin-left: auto;
        margin-right: auto;
        margin-top: 41px;
        padding-top: 40px;
        padding-left: 43px;
        padding-right: 43px;
        backdrop-filter: blur(2px);
        display: flex;
        flex-wrap: wrap;
    }

    .program_search-container {
        border-radius: 8px;
        width: 305px;
        display: flex;
        border: 1px solid rgba(225, 227, 228, 1);
        background: transparent;
        color: rgba(253, 253, 253, 1);
        width: 270px;
        height: 52px;
        align-items: center;
        box-shadow: 0px 4px 20px 0px #282828;
    }

    .program_search-text {
        width: 210px;
        padding: 14px 16px 14px 16px;
        gap: 8px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        margin: 0;
    }

    .about-tour_container {
        width: 1180px;
        height: 526px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        position: relative;
        justify-content: space-between;
        flex-direction: row;
    }

    .about-tour__img {
        border-radius: 24px;
        width: 350px;
        height: 400px;
    }

    .about-tour__img-left {
        display: block;
        position: absolute;
    }

    .about-tour__img-right {
        top: 126px;
        left: 130px;
        position: absolute;
    }

    .play {
        z-index: 3;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        opacity: 0px;
        margin-top: 301px;
        margin-left: 280px;
        cursor: pointer;
    }

    .about-tour_container-text {
        margin-left: 620px;
        width: 580px;
        height: 398px;
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
    }

    .about-tour__text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: rgba(242, 190, 34, 1);
        margin: 0;
        margin-bottom: 8px;
    }

    .about-tour__title {
        margin: 0;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 32px;
        font-weight: 800;
        line-height: 38.4px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin-bottom: 40px;
    }

    .about-tour__subtitle {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin: 0;
        margin-bottom: 40px;
    }

    .about-tour__button {
        width: 200px;
        height: 52px;
        gap: 10px;
        border-radius: 4px;
        background: rgba(26, 62, 62, 1);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.012em;
        text-align: left;
        color: rgba(253, 253, 253, 1);
        text-align: center;
        cursor: pointer;
        border: none;
    }

    .best-programs {
        background: rgba(243, 245, 244, 1);
        width: 100%;
        height: 771px;
    }

    .best-programs__text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: rgba(242, 190, 34, 1);
        margin: 0;
    }

    .best-programs__title {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 32px;
        font-weight: 800;
        line-height: 38.4px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin-bottom: 0;
        margin-top: 15px;
    }

    .best-programs_paragraph {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        color: rgba(24, 18, 30, 1);
        margin-bottom: 0;
        margin-top: 40px;
    }

    .best-programs__wrapper {
        display: flex;
        gap: 15px;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .best-programs_container {
        width: 1180px;
        height: 591px;
        padding-top: 80px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 90px;
        align-items: center;
    }

    .best-programs__list {
        padding: 0;
        margin: 0;
    }

    .best-programs__wrapper-img {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        align-self: center;
        display: block;
    }

    .best-programs__wrapper-title {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.012em;
        text-align: left;
        margin: 0;
    }

    .best-programs__wrapper-text {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        margin: 0;
    }

    .best-programs__list-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .best-programs__button {
        width: 236px;
        height: 52px;
        /* padding: 16px 36px 16px 36px; */
        border-radius: 4px;
        opacity: 0px;
        background: rgba(26, 62, 62, 1);
        margin-top: 40px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.012em;
        text-align: left;
        color: rgba(253, 253, 253, 1);
        text-align: center;
        cursor: pointer;
        border: none;
    }

    .best-programs__container_image {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: 250px 250px;
        grid-template-rows: 252px;
        width: 510px;
        height: 510px;
    }

    /* 
    .best-programs__image {
        width: 250px;
        height: 250px;
        gap: 0px;
    } */

    .best-programs__image-one,
    .best-programs__image-four {
        border-radius: 0 50px / 50px;
        background: rgba(243, 245, 244, 1);
    }

    .best-programs__image-two,
    .best-programs__image-three {
        border-radius: 50px 0 / 50px;
        background: rgba(243, 245, 244, 1);
    }
}